$purple: rgb(80,20,60);
$blue: rgb(20,60,80);
$yellow: rgb(240,180,0);
$orange: rgb(240,100,40);
$green: rgb(220,260,160);
$maroon: rgb(140,10,60);
$red: rgb(200,0,60);
$light-grey: rgb(220,220,220);
$white: rgb(250,250,250); 

$sans: 'Lato','Helvetica','Arial', sans-serif;