@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Alef|Rubik|Secular+One');

@import './variables';
@import './header';
@import './table';

body{
  background: -webkit-linear-gradient($white, $light-grey);
  background: -moz-linear-gradient($white, $light-grey);
  background: -o-linear-gradient($white, $light-grey);
  background: linear-gradient($white, $light-grey);
  background-color: $light-grey;
/*background-image: url('../public/img/rob-bye-98954.jpg');
background-size: contain;
background-repeat: no-repeat;*/

  font-family: $sans;
  color: $purple;
  margin: 0;
  padding: 0;

}


.page-container{
  margin: 0px;
  text-align: center; 
}

.page{
  margin: 0px;
  text-align: center;
}

.page-body{
  margin: 20px;
  padding: 10px;
  background: $white;
  border-bottom: 1px solid $red;
}

a{
  color: $red;
  text-decoration: none;
  font-weight: bold;
  background: none;
}

a:hover{
  color: $maroon;
  text-decoration: none;
}

a.btn{
  padding: 8px;
  margin: 6px;
  border: 1px solid $red;
  border-radius: 4px;
  background: none;
  font-size: 16px;
  font-weight: 400;

  &:hover{
    color: $maroon;
    border: 1px solid $maroon;
  text-decoration: none;
  background: rgba($maroon, .1)
    
  }
}